asgiref==3.2.7
boto3==1.14.12
botocore==1.17.12
Django==3.0.6
django-cors-headers==3.3.0
django-filter==2.2.0
django-multiselectfield==0.1.12
django-rest-registration==0.5.6
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
jmespath==0.10.0
Pillow==7.1.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
typing==3.7.4.1
urllib3==1.25.9
